.navbar-default{
background-color:#FA67E7;
}
.navbar
{
margin-bottom:0px;
background-color:#0E0000;
}
 
footer
{
background-color:#FA67E7;
}

.row,.content
{
float:right;
background-color:#CA20DB;
}
.content-right
{
background-color:white;
}

